<!DOCTYPE html>
<head>
    <center>
    <h1 style="background-color: white;">
        <img src = https://pbs.twimg.com/media/Fg1kLtzUcAADc8T?format=png&name=small>
    </h1>
    </center> 
</head>
<style>
    .button {
      background-color: whitesmoke;
      border: 10px;
      color: gray;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 50px;
      margin: 4px 2px;
      cursor: cell;
    }
</style>  
    
    <body style="background-color: rgb(170, 202, 122);">

    <center>
        <p><a href="page2.html" class="button" style="font-family:bradley hand;">Calculate Your CO₂ Emmissions</a></p>
        <p style="background-color: beige;"><img src = https://pbs.twimg.com/media/Fg13h47VUAAggOn?format=jpg&name=medium></p>
        <p>Our mission: help you calculate your CO₂ emmissions when you drive your Honda Accord to make you more aware of your enviornmental impact. Note: these numbers are estimates as there are many factors that can affect your CO₂ output. So, don't rely fully on this data, but do think more about caring for our enviornment :)</p>
    </center>
    </body>